[defaults]
inventory = ./inventory
roles_path = ./roles:./postgresql_provision/roles
remote_tmp = /tmp
host_key_checking = False
retry_files_enabled = False
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
